.primary-bg {
    -fx-background-color: radial-gradient(center 50% 50%, radius 75%, rgb(25, 18, 38), black);
}

.logout-container .logout-text {
    transition: all 275ms ease;
    -fx-opacity: 1.0;
}


.logout-container .logout-icon {
    transition: all 275ms ease;
    -fx-opacity: 1.0;
}

.logout-container:hover .logout-text {
    transition: all 275ms ease;
    -fx-opacity: 0.75;
}

.logout-container:hover .logout-icon {
    transition: all 275ms ease;
    -fx-opacity: 0.75;
}

.grey-border {
    -fx-border-color: #ffffff06;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.grey-bg {
    -fx-background-color: #0E0E0E;
}

.brand-title {
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.brand-label {
    -fx-font-size: 12;
    -fx-fill: #858585;
}

.brand-subtitle {
    -fx-font-size: 12;
    -fx-fill: rgba(255, 255, 255, 0.5);
}

.brand-button {
    -fx-background-color: black;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-padding: 5 10;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 255, 255, 0);

    transition: all 175ms ease;
}

.brand-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: rgba(255, 255, 255, 0.05);
    -fx-cursor: hand;

    transition: all 175ms ease;
}


.brand-field {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-padding: 5 10;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 255, 255, 0.1);
}

.brand-text-area {
    -fx-fill: transparent;
    -fx-control-inner-background: transparent; 
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 255, 255, 0.1);
}

.brand-text-area .scroll-pane {
    -fx-background-color: transparent;
}

.brand-text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.brand-text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.brand-text-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;    
    -fx-text-fill: rgba(255, 255, 255, 0.5);             
    -fx-font-size: 12px;             
    -fx-padding: 0;                 
    -fx-effect: null;                   

    transition: all 175ms ease;
}

.brand-text-button:hover {
    -fx-text-fill: rgba(255, 255, 255, 0.3);      
    -fx-cursor: hand;
}

.bottom-label {
    -fx-fill: rgba(255, 255, 255, 0.5);
}

.error-text {
    -fx-fill: red;
    -fx-font-size: 10;
}

.footer {
    -fx-background-color: #0E0E0E;
    /* -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 1 0 0 0;
    -fx-border-style: solid; */
}

.nav-item:hover .nav-icon {
    -fx-fill: white; 
}

.nav-label {
    transition: all 150ms ease;
}

.nav-item:hover .nav-label {
    -fx-fill: white;
}

.nax-item:hover .nav-label-active {
    -fx-fill: #898BEF;
}

.profile-title {
    -fx-font-size: 15;
    
    -fx-font-weight: bold;
}

.profile-subtitle {
    -fx-font-size: 13;
    
    -fx-font-weight: bold;
}

.result-text {
    -fx-font-size: 12;
    -fx-fill: rgba(255, 255, 255, 0.5);
}

.list-view {
    -fx-padding: 0; /* Remove padding */
    -fx-background-color: transparent; /* Remove background */
    -fx-border-color: transparent; /* Remove border */
}

.list-cell {
    -fx-background-color: transparent; /* Remove cell background */
    -fx-padding: 0; /* Remove cell padding */
    -fx-border-color: transparent; /* Remove cell border */
}

.list-cell:filled:selected, .list-cell:filled:hover {
    -fx-background-color: transparent; /* Remove selection/highlight color */
}

.virtual-flow {    
    -fx-background-color: transparent;
    -fx-padding: 0; 
    -fx-border-color: transparent;
}


.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-opacity: 0;
    /* -fx-padding: -10; */
}

.user-text {
    -fx-font-size: 12;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.user-card {
    -fx-background-color: #0E0E0E;
}

.user-card:hover {
    -fx-background-color: transparent;
}